/*
 *  One line text crop with ellipsis added
 */
@mixin ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@import "ellipsis-multiline";
@import "ellipsis-multiline-simple";
@import "ellipsis-lines";
