@mixin ellipsis-multiline-simple($height, $lines-to-show) {
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    max-height: $height;
    /* Fallback for non-webkit */
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
