/**
 *  This mixin will crop text in block for needed amount of lines and put ellipsis at the end
 *
 *  @param $font-size font-size property
 *  @param $line-height line-height property
 *  @param $lines-to-show amount of lines to show
 */
@mixin ellipsis-multiline($font-size: 1rem, $line-height: 1, $lines-to-show: 2) {
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    max-height: $font-size*$line-height*$lines-to-show;
    /* Fallback for non-webkit */
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
