/*
 *  One line text crop with ellipsis added
 */

@mixin ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*
 *  @param $font-size font-size property
 *  @param $line-height line-height property
 *  @param $lines-to-show amount of lines to show
 *
 *  This mixin will crop text in block for needed amount of lines and put ellipsis at the end
 */

@mixin multiline-ellipsis($font-size, $line-height, $lines-to-show) {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-height: $font-size*$line-height*$lines-to-show;
  /* Fallback for non-webkit */
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin multiline-ellipsis-simple($height, $lines-to-show) {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-height: $height;
  /* Fallback for non-webkit */
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin ellipsis-lines($lines-to-show) {
    display: -webkit-box;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
