/*
 * Mixin for making images with different aspect ratio to fit into fixed size container block
 */
@mixin fit-image($margin: 0) {
  max-height: 100%;
  margin: auto;
  position: absolute;
  @include take-space($margin);
}
