@mixin fullwidth {
  @media (min-width: 768px) {
    padding-right: 200%;
    padding-left: 200%;
    margin-right: -200%;
    margin-left: -200%;
  }
}

@mixin fullleft {
  @media (min-width: 768px) {
    padding-left: 200%;
    margin-left: -200%;
  }
}

@mixin fullright {
  @media (min-width: 768px) {
    padding-right: 200%;
    margin-right: -200%;
  }
}

@mixin full-width-height {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
